.ACContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.ACActions {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.ACTable {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5em, max-content));
  grid-gap: 1em;
  justify-content: center;
}
